@font-face {
    font-family: "JosefinSans Light";
    src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
    font-family: "JosefinSans Regular";
    src: url('../fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: "JosefinSans SemiBold";
    src: url('../fonts/JosefinSans-SemiBold.ttf');
}